html, body {
  background-color: rgb(218, 231, 238);
  min-width: 330px;
  margin: 0;
}

div {
  text-align: center;
  color: white;
  width: 95%;
  height: 200px;
  outline: 1px solid rgb(218, 231, 238);
  outline-offset: -10px;
  margin: 10px;
}

.main {
  background-image: linear-gradient(180deg,
      rgb(13, 163, 223), 
      rgb(0, 128, 79), 
      rgba(230, 230, 109, 0.459));
}

.gradientBox h1 {
  position: relative;
  top: 80px;
}


.favoriteDiv {
  background-image: linear-gradient(360deg,
      rgb(13, 163, 223), 
      rgb(0, 128, 79),
      rgba(255, 0, 0, 0.699) 0%,  
      rgb(31, 92, 141),
      rgba(230, 230, 109, 0.459));
}

.iLikeThisDivToo {
  background-image: linear-gradient(45deg,
  rgb(13, 163, 223), 
  rgb(0, 128, 79), 
  rgba(230, 230, 109, 0.459));
}

.div4 {
  width: 200px;
  background-image: radial-gradient(
      circle at 30% 40px,
  rgb(245, 245, 245), 
  rgb(243, 210, 140), 
  rgb(201, 126, 41), 
  rgba(230, 230, 109, 0.459));
  border-radius: 50%;
  outline: none;
}

.div6 {
  width: 200px;
  background-image: radial-gradient(
      circle at 35% 60px,
   rgb(245, 245, 245), 
   rgb(241, 134, 166),
   rgb(85, 24, 42),
   rgba(199,2,60,1),
   rgba(199,2,60,0));
  border-radius: 50%;
  outline: none;
}

.gradientDiv {
  background-color: rgb(33, 33, 58);
  height: 12vw;
}

.text-gradient {
  font-size: 3.5em; 
  font-family: "Arial Black"; 
  vertical-align: middle;
  line-height: 12vw; 
  background-image:linear-gradient(90deg,
  rgb(180, 180, 216),
  rgb(230, 230, 140),
  rgb(223, 50, 78),
  rgb(19, 8, 19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:1px rgb(255, 255, 255);

 }

 .divTextImg {
   background: beige;
 }

 .text-image {
  vertical-align: middle;
  line-height: 180%; 
  font-weight: bold;
  top: 50px;
  font-size: 7em;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(img/flower4.jpeg) no-repeat;
  background-size: 90%;
  background-position: top center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke:1px rgb(57, 83, 45); */
}

.text-shadow {
  vertical-align: middle;
  line-height: 140%; 
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
}

.darkerInnerBorder {
  background: rgb(71, 39, 50);
  outline: 1px solid rgba(204, 199, 199, 0.664);
  /* box-shadow: 2px 2px 2px rebeccapurple; */
  position: absolute;
  width: 95%;
  height: 80%;
  margin: 20px 2.5%;
}

.backgroundImg {
  margin-top: 60px;
  width: 90%;3
  position: relative;
  background: rebeccapurple;
  outline: none;
  background-image: url("img/flower4.jpeg");
  /* transform: rotate(1deg); */
  transform: rotate(6deg);
  /* transform: scale(1.8); */
}

@media only screen and (max-width: 890px){
  .divTextImg {
    height: 20vw;
  }
  .text-image {
    font-size: 12vw;
  }

  .text-gradient {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 500px){
  .text-shadow {
    font-size: 12vw;
  }
}