
:root {
    --bird-position-h: -70px;
    --bird-position-w: 100px;
    --mountain-animation-time: 40s;
    --mountain-animation-time2: 38s;
    --mountain-animation-time3: 36s;
    --mountain-animation-time4: 34s;
}

html, body {
    /* background-color: white; */
    margin: 0;
    overflow-x: hidden;
    height: 100%; /*#TODO Check this height in main later*/
    scroll-behavior: smooth;
}

.wrap {
    margin: 0 auto;
    max-width: 1400px;
}

.upper {
    position: relative;
    top: -40px; /*#TODO I have no idea why I need this fix*/
    background-image: url(img/pexels-photo-66997.jpeg);
    background-size: cover;
    height: 95vh;
    min-height: 600px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
}

h1 {
    text-align: center;
    color: whitesmoke;
    position: relative;
    top: 140px;
    font-size: 3em;
    letter-spacing: 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(245, 245, 245, 0.767);
}

.upper p {
    text-align: center;
    position: relative;
    top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    color: whitesmoke;
}

.plane {
    font-size: 30px;
    position: relative;
    animation: plane 6s infinite;
}

/* Plane moves from left to right, the opacity changes from 0 to 1 back to 0 */
@keyframes plane {
    0% {transform: translate(-200px, 0); opacity: 0;}
    50% {transform: translate(0, 0); opacity: 1;}
    100% {transform: translate(200px, 0); opacity: 0;}
}

.button {
    padding: 15px;
    background-color: rgb(163, 194, 190);
    background-color: whitesmoke;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 2px 2px 8px black;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: opacity 3s;
}

.discover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 25px;
    z-index: -1;
    transition: ease-in-out 700ms;
}

.discover:hover::after{
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0;
}

.discover {
    position: relative;
    top: 120px;
    transition: -webkit-transform 0.4s;
    animation: fadeIn 4s;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

@keyframes fadeIn {
    from {opacity: 0; top: 170px}
    to {opacity: 1;}
}

.button:hover {
    transform: scale(1.2,1.2);
    transition: 0.5s;
}

.left {
    width: 40%;
    padding: 20px 20px 20px;
    margin: 60px 20px 20px;
    float: left;
    background-color: rgba(255, 255, 255, 0.795);
}

.left p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: 0.1em;
}

/* ANIMATION IMAGES AND ANIMATION */
.animation {
    width: 40%;
    float: left;
}

.mountainDiv {
    position: relative;
    padding-top: 200px;
    transform: scale(0.9);
}

#bird1 {
    position: relative;
    top: -250px;
    left: -120px;
}


#bird2 {
    position: relative;
    top: -70px;
    left: 100px;
    transform: scale(0.5);
}

.bird div {
    position: absolute;
    width: 70px;
    height: 70px;  
    background-image: url(img/tan-antique-vintage-paper-texture-2_A50.png);
    background-blend-mode: overlay;
}

.bird-part {
    animation: birdAnimation 3s ease;
    animation-play-state: paused;
}


.bird-part1 {
    background-color: rgb(116, 116, 151);
    transform: rotate(12deg) translate(200px, 200px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 10;
}

.bird-part2 {
    background-color: rgb(93, 93, 136);
    transform: translate(178px, 187px) scale(0.7) rotate(110deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 9;
}

.bird-part3 {
    background-color: rgb(73, 73, 109);
    transform: translate(234px, 231px) scale(1.3) rotate(-70deg) ;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 8;
}

.bird-part4 {
    background-color: rgb(57, 57, 85);
    transform: translate(235px, 244px) scale(1.3) rotate(196deg) ;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 7;
}

.bird-part5 {
    background-color: rgb(57, 57, 85);
    transform: translate(140px, 180px) scale(1) rotate(20deg) ;
    -webkit-clip-path: polygon(61% 15%, 94% 57%, 63% 89%, 15% 64%, 18% 11%);
    clip-path: polygon(61% 15%, 94% 57%, 63% 89%, 15% 64%, 18% 11%);
    z-index: 7;
}

.bird-part6 {
    background-color: rgb(190, 147, 98);
    transform: translate(120px, 162px) scale(0.5) rotate(115deg) ;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 6;
}

/* Wings */
.bird-part7 {
    background-color:  rgb(34, 34, 56);
    transform: translate(190px, 190px) scale(1.7, 1.9) rotate(19deg) ;
    -webkit-clip-path: polygon(100% 1%, 84% 56%, 41% 91%, 15% 64%, 41% 16%);
    clip-path: polygon(100% 1%, 84% 56%, 41% 91%, 15% 64%, 41% 16%);
    z-index: 6;
   }

.bird-wing-moving {
    background-color:  rgb(34, 34, 56);
    transform: translate(190px, 190px) scale(1.7, 1.9) rotate(19deg);
    -webkit-clip-path: polygon(100% 1%, 84% 56%, 41% 91%, 15% 64%, 41% 16%);
    clip-path: polygon(100% 1%, 84% 56%, 41% 91%, 15% 64%, 41% 16%);
    z-index: 6;
    animation: wingAnimation 2s infinite;
}

@keyframes wingAnimation {
    50% {transform: translate(190px, 190px) scale(1.8)};   
}

@keyframes birdAnimation {
    0% {transform: translate(150vw, 65vh) scale(0.1)}
}

.break-free {
    position: relative;
    top: 30vh;
    left: 10%;
    cursor: pointer;
}

#lowerPage {
    overflow:hidden;
    /* background-color: blue; */
    /* background-image: url(img/montaintravel.png);
    background-position: center 80px;
    background-size: cover;
    background-repeat: no-repeat; */
}


/* MOUNTAINS */

.lower {
    margin-top: 300px;
    margin-bottom: 50px;
    position: relative;
}

.mountains {
    position: absolute;
    background-image: linear-gradient(white, rgb(226, 159, 81), rgb(243, 115, 115));
    height: 50vh;
    width: 120vw;
    z-index: -1;
    bottom: 0;
}

.mountainRow {
    position: absolute;
    bottom: 0;
    height: inherit;
    width: inherit;
    background-position: 0 bottom;
    background-size: cover;
    background-repeat: repeat-x;
    /* border: 1px solid black; */
}

.mountRow1 {
    background-image: url(mountain/m1.png);
    animation: mountain1 var(--mountain-animation-time) linear infinite;
    animation-play-state: paused;
}

.mountRow2 {
    background-image: url(mountain/m1.png);
    animation: mountain1 var(--mountain-animation-time) linear infinite;
    left: -150vw;
    /* border: 1px solid red; */
    animation-play-state: paused;
}

.mountRow3 {
    background-image: url(mountain/m2.png);
    animation: mountain2 var(--mountain-animation-time2) linear infinite;
    animation-play-state: paused;
}

.mountRow4 {
    background-image: url(mountain/m3.png);
    animation: mountain4 var(--mountain-animation-time3) linear infinite;
    left: 70vw;
    /* border: 1px dashed darkblue; */
    animation-play-state: paused;
}

@keyframes mountain4 {
    0% {transform: translate(-170vw,0)}
    /* 50% {transform: translate(0,0)} */
    100% {transform: translate(130vw,0)}
}

.mountRow5 {
    background-image: url(mountain/m4.png);
    animation: mountain5 var(--mountain-animation-time4) linear infinite;
    left: 100vw;
    /* border: 1px dashed darkblue; */
    animation-play-state: paused;
}

@keyframes mountain5 {
    0% {transform: translate(-200vw,0)}
    /* 50% {transform: translate(0,0)} */
    100% {transform: translate(100vw,0)}
}

@keyframes mountain1 {
    0% {transform: translate(-100vw,0)}
    /* 50% {transform: translate(0,0)} */
    100% {transform: translate(200vw,0)}
}

@keyframes mountain2 {
    0% {transform: translate(-100vw,0)}
    /* 50% {transform: translate(0,0)} */
    100% {transform: translate(200vw,0)}
}

/* RESPONSIVE */

@media screen and (max-height: 500px){
    .discover {
        top: 120px;
    }
  }

@media screen and (max-width: 500px){
    .discover {
        top: 120px;
    }
    .left {
        width: 80%;
    }
    .animation {
        display: none;
    }
    .mountains {
        display: none;
    }

  }
