:root {
    --frameSize: 250px;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titleBox {
    margin: 0 !important;
    color: white;
    padding-top: 10px;
    background-color: rgb(112, 134, 161);
    width: 100%;
    background-image: url(img/pexels-photo.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position-y: -140px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -3px;
}

.titleBox h1 {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.box {
    margin: 8px 4px 40px;
    text-align: center;
}

.box h3 {
    margin: 4px;
    font-size: 1em;
}

.box p {
    margin: 6px;
    font-size: 0.7em;
    width: var(--frameSize);
    height: 40px;
}

iframe { 
    width: var(--frameSize);
    height: var(--frameSize);
}

a {
    font-size: 24px;
    color: rgb(33, 33, 77);
    text-decoration: none;
}

.img {
    width: var(--frameSize);
    height: var(--frameSize);
    border: 1px solid black;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.img>img {
    width: 100%;
}

/* Images of Websites */
#w5-btnAniImg {
    background-image: url(img/overviewPreview/button-animation.jpg);
}

#w5-combiImg {
    background-image: url(img/overviewPreview/css-selectors.jpg);
}

#w5-dropDown {
    background-image: url(img/overviewPreview/dropDownMenu.jpg);
    background-size: 170%;
    background-position: top left;
}

#w5-pseudo {
    background-image: url(img/overviewPreview/pseudoSelector.jpg);
}

#w4-cubeTransColImg {
    background-image: url(img/overviewPreview/cubetranscolor.jpg);
}

#w4-polaImg {
    background-image: url(img/overviewPreview/4-polaroid.jpg);
}

#w4-cssBirdImg {
    background-image: url(img/overviewPreview/4-cssbird.jpg);
}

#w4-bgGradImg {
    background-image: url(img/overviewPreview/4-gradientBackground.jpg);
}

#w3-targetImg {
    background-image: url(img/overviewPreview/3-target.jpg);
}

#w3-jellyFloatImg {
    background-image: url(img/overviewPreview/3-jelly.jpg);
}

#w3-flexboxwebImg {
    background-image: url(img/overviewPreview/3-flexweb.jpg);
}

#w3-flexBox {
    background-image: url(img/overviewPreview/3-flexbox.jpg);
}

#w3-paddingImg {
    background-image: url(img/overviewPreview/3-paddingAndMore.jpg);
}

#travelResoImg {
    background-image: url(img/overviewPreview/travelPageRespnsive.jpg);
}

#respHtml5Img {
    background-image: url(img/overviewPreview/responsiveHtml5.jpg);
}

#respGridImg {
    background-image: url(img/overviewPreview/respoGrid.jpg);
}

#respHtmlImg {
    background-image: url(img/overviewPreview/responsiveHtml.jpg);
}

#respImgImg {
    background-image: url(img/overviewPreview/respoImg.jpg);
}

#firstProjectImg {
    background-image: url(img/overviewPreview/1-firstProject.jpg);
}