* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

body {
    width: 80%;
    margin: 20px auto;
}


@mixin text-style($size, $color, $radius) {
    text-align: center;
    font-size: $size;
    color: $color;
    border-radius: $radius;
    padding: 5px;
}

@mixin gradient($dir, $col1, $col2, $col3){
    background: linear-gradient(to $dir, $col1, $col2, $col3);
    border: 2px solid $col2;
    color: darken($col3, 30);
    &:hover {
        filter: invert(100%);
    }
}

@mixin superStyler($color, $fsize, $selector){
    #{$selector}{
        background-color: $color;
        font-size: $fsize;
        padding: 10px;
        margin: 10px;
        &:hover {
            background-color: lighten($color, $amount: 15);
            font-size: $fsize * 1.2;
        }
    }
}

@mixin ifElse($size, $color){
    font-size: $size;
    padding: $size / 4;
    margin: 0;
    @if $size <= 1em {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: $color;
        background-color: invert($color);
        border: 1px solid rgba(0, 128, 0, 0.541);
    } @else if $size == 2em {
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: invert($color);
        background-color: $color;
        border: 2px solid rgba(255, 255, 0, 0.555);
    } @else {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: lowercase;
        letter-spacing: .5em;
        color: lighten($color, 60);
        background-color: darken($color, 10);
        border: 2px solid rgba(255, 0, 0, 0.555);
    }
    &:hover {
        filter: hue-rotate(60deg);
        transition: .5s;
    }
}

@include superStyler(lightblue,1.2em,'.light-text');
@include superStyler(rgba(202, 91, 0, 0.911),1.4em,'.me-too');

.title {
    @include text-style(2em, rgb(22, 16, 16), 5px);
    @include gradient(left,white,rgb(163, 199, 228),rgb(65, 57, 136) );
}

.animate {
    animation: textAni 10s infinite;
}

@keyframes textAni{
    0%{  @include ifElse(.5em, yellow)}
    50%{  @include ifElse(2em, yellow)}
    60%{  @include ifElse(2em, yellow)}
    100%{  @include ifElse(3em, yellow)}
}

.sizeText {
    $mySize: 1em;
    $myColor: rgb(107, 175, 135);
    p:nth-child(1){
        @include ifElse($mySize, $myColor);
    }    
    p:nth-child(2){
        @include ifElse($mySize * 2, $myColor);
    }   
    p:nth-child(3){
        @include ifElse($mySize * 4, $myColor);
    }   
}

.imgContainer {
    overflow: hidden;
    background-color: rgb(137, 144, 151);
    background-image: linear-gradient(to bottom, rgb(139, 139, 139), rgb(255, 255, 255));
    padding: 20px 20px 0 0;
    margin-bottom: 20px;
    img {
        float: left;
        width: 400px;
    }
}

.text {
    @include text-style(2em, black, 25px);
    @include gradient(left,white,rgb(236, 187, 224),rgb(80, 196, 138) )
    // background-color: rgb(205, 205, 223);
}

.text2 {
    @include text-style(1em, green, 1px);
}

/////////////////////////////////////////

%style {
    text-transform: uppercase;
}

.htext {
    font-size: 2em;
    color: green;
    text-align: center;
    @extend %style;
}


.content {
    font-size: 1.8em;
    color: goldenrod;
    text-align: left;
    @extend %style;
}