p::first-line {
    color: rgb(80, 166, 223);
    font-size: larger;
}

p::first-letter {
    font-size: 2em;
    background-color: black;
    border-radius: 2px;
    color: white;
    padding: 0 8px;
    margin-right: 2px;
}

@keyframes ani1 {
    50% {background-color: teal};
}

@keyframes ani2 {
    50% {color: teal};
}

p::before {
    content: "Hey ";
}

p::after {
    content: " This is the End!!!";
}