html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

.yellow {
    background-color: rgb(253, 199, 22);
    border: 1px solid rgb(0, 0, 0);
}

.red {
    background-color: rgb(255, 98, 93);
    border: 1px solid rgb(0, 0, 0);
}

.blue {
    background-color: rgb(70, 176, 218);
    border: 1px solid rgb(0, 0, 0);
}

.black {
    background-color: rgb(46, 38, 38);
    border: 1px solid rgb(255, 255, 255);
}

.white {
    background-color: rgb(211, 171, 157);
}

.board {
    position: relative;
    top: 350px;
}

.target {
    position: absolute;
    background-image: url("paper-1074131_1920.jpg");
    background-blend-mode: multiply;
    border-radius: 50%;
}

.c1 {
    width: 50px;
    height: 50px;
    z-index: 10;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.c2 {
    width: 120px;
    height: 120px;
    z-index: 9;
    top: calc(50% - 85px);
    left: calc(50% - 85px);
}

.c3 {
    width: 190px;
    height: 190px;
    z-index: 8;
    top: calc(50% - 120px);
    left: calc(50% - 120px);
}

.c4 {
    width: 260px;
    height: 260px;
    z-index: 7;
    top: calc(50% - 155px);
    left: calc(50% - 155px);
}

.c5 {
    width: 330px;
    height: 330px;
    z-index: 6;
    top: calc(50% - 190px);
    left: calc(50% - 190px);
}

.c6 {
    width: 400px;
    height: 400px;
    z-index: 5;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
}

.c7 {
    width: 470px;
    height: 470px;
    z-index: 4;
    top: calc(50% - 260px);
    left: calc(50% - 260px);
}


.c8 {
    width: 540px;
    height: 540px;
    z-index: 3;
    top: calc(50% - 295px);
    left: calc(50% - 295px);
}

.c9 {
    width: 610px;
    height: 610px;
    z-index: 2;
    top: calc(50% - 330px);
    left: calc(50% - 330px);
}