
$cell-size: 150px;
$cell-border: 4px solid rgb(255, 255, 255);

@mixin colorDivs($color) {
    .color:nth-child(1){
        background-color: darken($color, 20%);
    }
    .color:nth-child(2){
        background-color: $color;
    }
    .color:nth-child(3){
        background-color: lighten($color, 20%);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .cell {
        height: $cell-size;
        border: $cell-border;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .cell:nth-child(1){@include colorDivs(red);}
    .cell:nth-child(2){@include colorDivs(blue);}
    .cell:nth-child(3){@include colorDivs(rgb(48, 172, 48));}
    .cell:nth-child(4){@include colorDivs(rgb(233, 233, 104));}
    .cell:nth-child(5){@include colorDivs(rgb(194, 116, 194));}
    .cell:nth-child(6){@include colorDivs(rgb(92, 92, 148));}
}

.color {
    padding: 2px;
    background-color: green;
    width: 33%;
}
