// variables
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$primary-color-light: white;
$background-color-dark: rgb(43, 64, 82);

* {
    box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
}

// nesting
// navigation
nav {
    background-color: $background-color-dark;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        padding: 15px 10px;
        a {
            color: $primary-color-light;
            text-decoration: none;
            padding: 16px 10px;
        }
        a:hover {
           background-color: lighten($color: $background-color-dark, $amount: 20);
        }
    }
}

