body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 20px 40px;
}

header {
  margin-top: 0;
  height: 120px;
  background-color: #476570;
  color: white;
  text-align: center;
}

header h1 {
  margin-top: inherit;
  font-family: "Indie Flower", cursive;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: .2em;
  line-height: 160px;
}

header h1 i {
  font-weight: 100;
  font-size: 2em;
}

nav, footer {
  text-align: center;
}

nav ul, footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

nav ul li, footer ul li {
  display: inline-block;
  padding: 15px 15px;
}

nav ul li a, footer ul li a {
  padding: inherit;
  text-decoration: none;
}

nav ul li a:hover, footer ul li a:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

nav {
  padding-bottom: 0;
  background-color: #b4c8cf;
}

nav a {
  font-size: 1.2em;
  color: #1f1e1e;
}

nav a:hover {
  background-color: #476570;
  color: white;
}

footer {
  background-color: #476570;
  color: white;
}

footer a {
  font-size: 2.5em;
  color: white;
}

footer a:hover {
  background-color: #b4c8cf;
  color: #1f1e1e;
}

.cards {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card:nth-child(1) {
  background-color: #604770;
}

.cards .card:nth-child(2) {
  background-color: #6d4770;
}

.cards .card:nth-child(3) {
  background-color: #704765;
}

.cards .card {
  width: 30vw;
  margin: 20px;
  padding: 10px;
  color: white;
  outline: 1px solid white;
  outline-offset: -4px;
}

.cards .card h4 {
  margin-top: 0;
}

.cards .card p {
  font-weight: 100;
}

.cards .card button {
  cursor: pointer;
  border: none;
  padding: 12px;
  background-color: #b4c8cf;
  border: 1px solid #b4c8cf;
}

.cards .card button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
}

.cards .card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.portion, aside, section {
  margin: 0 auto;
  text-align: justify;
}

.portion h3, aside h3, section h3 {
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  color: #1f1e1e;
  letter-spacing: .1em;
  font-weight: 500;
  margin-bottom: 0;
  padding: 5px 10px;
}

.portion p, aside p, section p {
  padding: 0;
  margin: 0;
}

.portion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portion h3 {
  border-bottom: 2px dashed #604770;
}

.portion figure {
  margin: 20px 40px 0 0;
}

.portion img {
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
  width: 30vw;
  opacity: .8;
}

.portion img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.portion article h3 {
  margin-top: 0;
}

aside h3 {
  background-color: #a475a8;
}

section h3 {
  background-color: #a8759a;
}

@media screen and (max-width: 800px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    width: 80%;
    margin: 10px auto;
  }
  .cards, .portion, aside, section {
    margin: 0 auto;
    width: 50%;
  }
  .portion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portion figure {
    margin: 20px;
  }
  .portion figure img {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  header, nav, .cards, figure {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */