nav, footer {
    ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        li {
           padding: 12px;
           display: inline-block;
           a {
              padding: inherit;
              text-decoration: none;
              i {
                font-size: 2em;
            }
        }
      }
    }
}

@media only screen and (max-width: 500px){
    nav {
       ul {
            flex-direction: column;
            text-align: center;
       }
    }
}