* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    padding: 40px 0;
    text-align: center;
    background-image: url("img/pexels-photo-257092.jpeg");
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: rgb(119, 24, 0);
    background-position: center center;
    background-size: cover;
    outline: 1px solid #FDF3D0;
    outline-offset: -10px;

    color: hsl(0, 100%, 3%);
    max-height: 200px;
}

.header h1 {
    font-size: calc(14px + 7vw);
    margin: 0 15px;
}

.header p {
    padding: 0 20px;
    margin: 0;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    background-color: #EEBEA8;
    /* border-top: 3px solid white; */
    display: flex;
}

.nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav a:hover {
    background-color: #77435E;
    color: white;
}


.noimg {
    background-color: rgb(165, 173, 180);
    width: 100%;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}

.left {
    background-color: antiquewhite;
    flex: 30%;
    padding: 20px;
}

#imgUs {
    background-image: url("img/we.jpeg");
    background-size: cover;
    background-position: center top;
    background-blend-mode: overlay;
    background-color: rgb(131, 165, 175);
    border: 1px solid rgb(30, 30, 37);
}

.main {
    flex: 70%;
    padding: 20px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}


#imgMainBanner {
    background-image: url("img/cover2.jpeg");
    background-position: center center;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: rgb(119, 165, 187);
    outline: 1px solid white;
    outline-offset: -4px;
}

#imgMain1 {
    background-image: url("img/main2.jpeg");
    background-position: center center;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: rgb(119, 165, 187);
    outline: 1px solid white;
    outline-offset: -4px;
}

#imgMain2 {
    background-image: url("img/main3.jpeg");
    background-position: center center;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: rgb(182, 126, 160);
    outline: 1px solid white;
    outline-offset: -4px;
}

.footer {
    background-color: #80566D;
    text-align: center;
    color: white;
    margin: 0;
}

.footer h2 {
    margin: 0;
}

.images {
    margin-top: 10px;
}

.images>div {
    background-size: cover;
    background-position: center center;
    height: 150px;
}

.images div:nth-child(1){
    background-image: url("img/more_plant1.jpeg");
}

.images div:nth-child(3){
    background-image: url("img/more_cat.jpeg");
}

.images div:nth-child(5){
    background-image: url("img/more_plant2.jpeg");
}

/* GALLERY ****************************/

.rowImg {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.imgWrapper {
    flex: 25%;
    vertical-align: middle;
    height: 16vw;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
}

.rowImg img {
    width:105%;
    position: absolute;
    bottom: 2px;
}

/* Responsive ************************/

@media screen and (max-width: 800px){
    .imgWrapper{
       flex: 50%;
       height: 30vw;
    }
}

@media only screen and (max-width: 500px){
    .container {
        flex-direction: column;
    }
    .imgWrapper{
        flex: 100%;
        height: 60vw;
    }
    .row,.nav{
        flex-direction: column;
        text-align: center;
    }
}


@media only screen and (min-width: 1000px){
    .header h1{
        font-size: 5.5em;
    }
    .imgWrapper {
        max-height: 200px;
    }
}
