body {
    margin: 0;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: rgb(184, 154, 154);
    border-bottom: 1px solid black;
    /* padding: 16px; */
    /* padding: 0; */
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #333;
    padding: 16px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    /* float: left; */
}

nav a:hover {
    background-color: #333;
    color: beige;
}

article, p {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-align: justify;
}
main {
    /* height: calc(100vh - (215px + 152px)); */
}

section, details {
    padding: 14px;
}

/* Responsive */

   @media only screen and (max-width:500px){
        nav a {
            font-size: 130%;
            /* width: 100%; */
            padding: 16px 0;
            display: block;
        }
   } 

   /* @media only screen and (max-height:500px) {
    main {
        height: 350px;
    } 
}*/