body {
    margin: 0;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

main, section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-weight: 100;
    letter-spacing: 0.5em;
}

h1, h2 {
    font-family: 'Share Tech Mono', monospace;
}

summary>h2 {
    display: inline;
}

nav {
    background: rgb(184, 154, 154);
    border-bottom: 1px solid black;
    /* padding: 16px; */
    /* padding: 0; */
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #333;
    padding: 16px;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    /* float: left; */
}

nav span {
   position: relative;
   top: -15px;
}

nav a:hover {
    background-color: #333;
    color: beige;
}

 nav a::before{
    position: absolute;
    top: 192px;
    /* width: 100px; */
    content: attr(info);
    background-color: #333;
    color: white;
    padding: 6px 18px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 25px;
    visibility: hidden;
    transform: scale(0);
    transition: ease-in-out 0.2s;
    font-family: 'Share Tech Mono', monospace;
}

nav a:hover::before {
    visibility: visible;
    transform: scale(1) translate(-16px, 0);
    transition: ease-in 0.2s;
    display: inline;
}

article, p {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-align: justify;
}
main {
    /* height: calc(100vh - (215px + 152px)); */
}

section, details {
    padding: 14px;
}

/* Responsive */

   @media only screen and (max-width:500px){
        nav a {
            font-size: 130%;
            width: 100%;
            display: block;
        }
        nav a:hover::before {
            visibility: hidden;
        }
   } 

